/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}


:root {
  --background_black: #030303;
  --text_highlight: #eeeeee;
  --text_description: #ff9dad;
}

/* Lenis */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Header Styles */


.RHANDIE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.RHANDIE h1 {
  opacity: 0;
  transform: translateY(20px);
  font-size: 16em;
}
.RHANDIE ul li {
  display: inline;
  margin: 0 10px;
  opacity: 0;
  transform: translateY(20px);
}

.star {
    position: absolute;
    bottom: 5vh;
}
.star h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  font-size: 3rem;
}
.star img {
  
  /* user-select: none; */
 
  height: 10vh;
  width: 100%;
  transform: scale(1) rotate(20deg);
  transform-origin: center center;
  animation: levitate 3s ease-in-out infinite;
  will-change: transform, opacity;
  /* transition: transform 1s ease-out, opacity 1s ease-out; */
}

.star img.default-properties {
  opacity: 1;
  transform: scale(1) rotate(20deg); /* Default transform properties */
  animation: levitate 3s ease-in-out infinite; /* Default animation */
}

.star img.no-levitate {
  animation: none;
}

@keyframes levitate {
  0% {
    transform: scale(1) translateY(0) rotate(20deg);
  }
  50% {
    transform: scale(1) translateY(-20px) rotate(20deg);
  }
  100% {
    transform: scale(1) translateY(0) rotate(20deg);
  }
}

/* About me */
.about-me h2{
  font-size: 2.5rem;
  width: 40vw;
  text-align: center;
}


/* Text Style */
h1,
h2,
p,
li {
  font-family: "Staatliches", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  transition: color 1s, font-weight 1s;
  font-weight: bold;
  color: var(--text_description);
}
a:hover {
  color: #ff7289;
}

h1 {
  padding: 15px;
  color: var(--text_highlight);
}

li {
  margin-inline: 20px;
  list-style: none;
  color: var(--text_description);
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/*  */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container img {
  height: 15vh;
  border-radius: 0.5vw;
  opacity: 1;
  width: auto;
}
.container p,
h2 {
  text-align: left;
}

/*  */



.accomplishments {
    /* border: 1px solid red; */
}

.section-container h1 {
    margin: auto;
    /* border: 1px solid green; */
  font-size: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateX(-50px);
  color: var(--background_black);
  width: 100vw;
}

.description {
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: left;
    /* border: 1px solid blue; */
}

.description h2, .titles p {
    margin-top: 2vh;
    margin-bottom: 2vh;
 
}


/*  */
.slider {
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease; /* Optional: Smooth transition */
}

.slider-item {
 
  flex: 0 0 auto;
  width: 40vw;
  padding: 3vw;
}

.slider-item figure {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Maintain aspect ratio */
  overflow: hidden;
  margin: 0; /* Remove default margin */
}

.slider-item figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:saturate(0);
}

.titles {
  display: flex;
  flex-direction: row;
}
body {
  background-color: var(--background_black);
  overflow-x: hidden;
}

/* body {
  background: radial-gradient(circle, #333333, #030303);
  overflow-x: hidden;
} */